<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    ">
    <context:annotation-config/>

	
	<!-- <bean class="com.springcore.lifecycle.samosa" name="s1" p:price="7.5" init-method="init" destroy-method="destory"/>
	<bean class="com.springcore.lifecycle.pepsi" name="p1" p:price="40.5"/>
	 --><bean class="com.springcore.lifecycle.panipuri" name="pa1" p:price="40.5"/>
	
	
	
</beans>